[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
psycopg2 = "*"
whitenoise = "*"
django-jazzmin = "*"
django-suit = {git = "https://github.com/AhmadiEhsan/django-suit-RTL"}
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
